a {
    text-decoration: none;
}

body {}

h1 {
    font-size: 2.69rem;
    line-height: 1.25;
}

/* Navbar */

.navbar {
    width: 90rem;
    /* 1440px */
    height: 4.218rem;
    /* 67.484px */
    box-shadow: rgb(238, 238, 238) 0.125rem 0.0625rem 0.125rem 0px;
    /* 2px 1px 2px 0px */
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    color: rgb(102, 102, 102);
    font-weight: 400;
}

.navbar-links li a:hover {
    color: #387ed1;
    font-weight: 400;
}

.hide-on-small {
    float: left;
    padding: 1.25rem;
    /* 20px */
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68.75rem;
    /* 1100px */
    height: 4.218rem;
    /* 67.484px */
    margin: auto;
}

#navbar_menu {
    padding-top: 1.25rem;
    /* 20px */
    padding-bottom: 1.25rem;
    /* 20px */
    padding-left: 0.9375rem;
    /* 15px */
}

#nav-icon3 {
    display: flex;
    flex-direction: column;
    color: #666;
    justify-content: space-between;
    width: 1.5625rem;
    /* 25px */
    height: 0.875rem;
    /* 14px */
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    width: 1.125rem;
    /* 18px */
    height: 0.125rem;
    /* 2px */
    padding: 0;
    background-color: #424242;
    border-radius: 0.1875rem;
    /* 3px */
}

.logo-img {
    width: 8.0879rem;
    /* 129.406px */
    height: 1.0625rem;
    /* 17px */
}

/* Nav Menu */
.hide-checkbox {
    display: none;
    /* Hide the checkbox */
}

/* Home - Page */

/* Landing - Page */
.landing {
    display: flex;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    overflow: clip;
}

.landing-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 71px;
    margin-left: auto;
    margin-right: auto;
}

.landing-image {
    max-width: 100%;
    max-height: 45vh;
    margin-bottom: 60px;
}

.landing-heading {
    font-family: "Inter", serif;
    color: #424242;
    font-weight: 500;
    letter-spacing: 0.025rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.landing-subheading {
    font-family: "Inter", serif;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-size-adjust: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}